{% extends 'base.html' %}

{% block title %} Blog Post {% endblock title %}
{% load humanize %}
{% load extras %}
{% block body %}
    <div class="container col-md-7 border-bottom border-dark my-1 py-1">
        <h2>Guide To This Website</h2>
        <small> <b> All you need to know to get started.</b></small>
    </div>
    <div class="container col-md-7 my-2">
        <p>
            <h5>Do you own a Blog? If you do, Follow these steps to start promoting your Blog here.</h5>
            <ul>
                <li>
                    <p>Sign Up to our website.</p>
                </li>
                <li>
                    <p>Go to Your Profile from the NavBar.</p>
                </li>
                <li>
                    <p>Click on Edit Profile and Insert your <b>Blog's Link</b> there, alongwith other details you wish to share with your readers.</p>
                </li>
                <li>
                    <p>You will be able to view all your details on Your Profile page.</p>
                </li>
                <li>
                    <p>You can add Blogs by clicking on <b>Add Blog</b> button below your PFP.</p>
                </li>
                <li>
                    <p>There you will see a <b> TinyMCE editor </b>. You can either Create your Blog there or Copy and Paste your Blog from your original Blog site. You can use various features of TinyMCE editor such as preview and insert.</p>
                </li>
                <li>
                    <p>Once you are satisfied with how your blog looks, you can submit the blog.</p>
                </li>
                <li>
                    <p>All of your blogs will be accessible from Your Profile.</p>
                </li>
                <li>
                    <p>You can also reply to your readers' comments and keep track of them from your profile.</p>
                </li>
            </ul>
            <h5>What to do if you are not a content creator?</h5>
            <ul>
                <li>
                    <p>You can create an account.</p>
                </li>
                <li>
                    <p>You can visit the website and surf through the various blogs in the <b>Blogs</b> section</p>
                </li>
                <li>
                    <p>You can search for blogs through keywords by using the <b>Search Bar</b></p>
                </li>
                <li>
                    <p>If you find a blog or an author you like, you can support them by viewing their blog here and visiting their <b>original blog site</b>.</p>
                </li>
                <li>
                    <p>You can also get in touch with your favourite authors by commenting on their blogs and view their replies.</p>
                </li>
            </ul>
        </p>
    </div>
{% endblock body %}